.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 40px;
}

.product-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px;
}

.cart-container{
    text-align: center;
}