.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    background-color: gray;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
}


.form-title{
    font-family: 'lato';
    font-size: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: whitesmoke;
    text-align: center;
}

.form-control{
    margin-bottom: 20px;
}

.form-control label{
    display: block;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.0015em;
}

.form-control input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}

.btn-submit{
    width: 425px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.btn-submit:hover{
    background: rgba(255, 153, 0, 0.6);
}